<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% section 'custom-fonts' %}
    <style>
      @font-face {
        font-family: "Proxima nova bold";
        src: url("https://cdn.shopify.com/s/files/1/0514/6211/1387/files/Fontspring-DEMO-proximanova-bold.woff2?v=1693531731") format("woff2");
      }
      @font-face {
        font-family: "Proxima nova medium";
        src: url("https://cdn.shopify.com/s/files/1/0514/6211/1387/files/Fontspring-DEMO-proximanova-medium.woff2?v=1693531742") format("woff2");
      }
      @font-face {
        font-family: "Proxima nova regular";
        src: url("https://cdn.shopify.com/s/files/1/0514/6211/1387/files/Fontspring-DEMO-proximanova-regular.woff2?v=1693531747") format("woff2");
      }
      @font-face {
        font-family: "Proxima nova thin";
        src: url("https://cdn.shopify.com/s/files/1/0514/6211/1387/files/Fontspring-DEMO-proximanova-thin.woff2?v=1693531753") format("woff2");
      }
      body {
        font-family: 'Proxima nova bold';
      }
      :root {
        --main-gray: #f3f3f3;
        --second-gray: #818181;
      }
    </style>
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
    <title>CONCEY 32</title>
    {{ content_for_header }}
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
</html>
