<section id="about">
  <div class="about-container">
    <div class="about-image">
      {{ section.settings.about_image | image_url: width: 392 | image_tag: alt: section.settings.about_image.alt }}
    </div>
    <div class="about-content">
      <button class="btn">
        <span>{{ section.settings.about_title }}</span>
      </button>

      <p class="about-text">
        {{ section.settings.about_text }}
      </p>
    </div>
  </div>
</section>

{% schema %}
{
    "name": "about",
    "settings": [
      {
        "type": "image_picker",
        "id": "about_image",
        "label": "Image"
      }
      ,{
        "type": "text",
        "label": "About Title",
        "id": "about_title",
        "default": "About Me"
    },
    {
        "type": "textarea",
        "label": "About Text",
        "id": "about_text",
        "default": "As a child, I would listen to my grandfather share stories about his life as a handbag designer in New York and the company he launched in 1932, Concey’s of Fifth Avenue. At his studio perched on the 11th floor of 724 Fifth Avenue, he handcrafted each Concey handbag with the finest leathers and fabrics. His stories transported me, back in time to the glamour of New York, his bags gracing the shelves at Saks Fifth Avenue and Bergdorf Goodman."
    }
    ],
    "presets": [
    {
        "name": "Default",
        "category": "Custom"
    }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
