<h1>FOOTER</h1>
<footer id="footer" class="cf">
  <nav id="footer-navigation" class="" data-content-field="navigation-footer-navigation">
    <div class="nav">
      <ul class="cf">
        {% # logic brackets %}
        {% for link in section.settings['footer-menu'].links %}
          <li class="">
            {% # return of a value or object %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>

  {% # Social Media Icons %}
  <div class="facebook-button">
    {% include 'facebook-icon' %}
  </div>
  <div class="twitter-button">
    {% include 'twitter-icon' %}
  </div>
  <div class="instagram-button">
    {% include 'instagram-icon' %}
  </div>
</footer>

{% # id must have "-" between words %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "footer-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
