<h1>FOOTER</h1>

<div class="footer-nav">
  <nav id="footer-navigation" class="" data-content-field="navigation-footer-navigation">
    <div class="nav">
      <ul class="cf">
        <li class="">
          <a href="/terms-conditions">Terms & Conditions</a>
        </li>

        <li class="">
          <a href="/shipping-info">Shipping Info</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
