<header>
  <div class="main-header">
    <div class="nav-button">
      {% render 'nav-icon' %}
    </div>
    <div class="site-logo">
      {{ settings.logo | img_url | img_tag: 'logo', settings.logo.alt, '300x300' }}
    </div>

    <div class="cart-drawer-toggle"></div>
  </div>
  <nav></nav>
</header>
{% schema %}
{
  "name": "header",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
