<div>
  <img src="{{ section.settings.stilized-image | image_url }}" class="stilized-image">
</div>
{% schema %}
{
  "name": "image banner",
  "settings": [
    {
    "type": "image_picker",
    "id": "stilized-image",
    "label": "stilized-image"
    }
  ],
  "presets": [{ "name": "image banner"}]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
