<div>
  <img src="{{ section.settings.stilized-image | image_url }}" class="stilized-image">
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}