<h1>{{ product.title }}</h1>
{% schema %}
{
  "name": "Main banner home page",
  "settings": [
    {
      "type": "text",
      "id": "footer_linklist_title",
      "label": "Heading",
      "default": "None"
    }
  ],
  "presets" : [{ "name" : "main banner" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
