<section id="home" class="parallax">
  <div class="parallax-inner">
    <img src="{{ section.settings.parallax-image | image_url }}" class="img-parallax" loading="lazy">
  </div>
  <div class="parallax-title">
    <h1>{{ section.settings.title }}</h1>
    <h2>{{ section.settings.subtitle }}</h2>
  </div>
  <script>
    
    
    
window.addEventListener('scroll', function() {
    const parallaxImage = document.querySelector('.img-parallax');
    const parallaxTitle = document.querySelector('.parallax-title');
    const scrolled = window.scrollY;

    // Parallax effect
    parallaxImage.style.transform = `translateY(${scrolled * 0.5}px)`;
    parallaxTitle.style.transform = `translateY(${scrolled * -0.5}px)`;

    // Fading effect
    const fadeEndPoint = 500;  // Set this to where you want the opacity to be 0.2
    let opacity = 1 - (0.8 * scrolled / fadeEndPoint);
    opacity = Math.max(opacity, 0);
    parallaxImage.style.opacity = opacity;
});




  </script>
</section>
{% schema %}
{
  "name": "Main banner home page",
  "settings": [
    {
      "type": "image_picker",
      "id": "parallax-image",
      "label": "parallax image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Concey 32"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sub-title",
      "default": "The story continues"
    }
  ],
  "presets" : [{ "name" : "main banner" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
