<h1>Hola</h1>
{% schema %}
{
  "name": "Section name",
  "settings": [],
  "presets":[{ "name":"main-banner", "category":"banner" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
