<h1>MAIN HOME PAGE</h1>
{% schema %}
{
  "name": "Main banner home page",
  "settings": [],
  "presets" : [{ "name" : "main banner" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
