<section>
  <div class="parallax-inner">
    <img src="{{ section.settings.parallax-image | image_url }}" class="img-parallax" loading="lazy">
  </div>
</section>

{% schema %}
{
  "name": "Main banner home page",
  "settings": [
    {
      "type": "text",
      "id": "footer_linklist_title",
      "label": "Heading",
      "default": "None"
    }
  ],
  "presets" : [{ "name" : "main banner" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}