<section id="contact" class="newsletter-section">
  <cont-1>
    <!-- Change when page is created -->
    <h2 class="title-newsletter">
      {{ section.settings.newsletter_title }}
    </h2>
  </cont-1>
  <cont-2 class="content-newsletter">
    <p>
      {{ section.settings.newsletter_description }}
    </p>
  </cont-2>
  {% form 'customer' %}
    <label for="newsletter-email">Email:</label><br>
    <input type="email" id="newsletter-email" name="email" required>
    <button class="btn-sub" type="submit"><span>Subscribe</span></button>
  {% endform %}
</section>

{% schema %}
{
"name": "newsletter",
"settings": [
        {
            "type": "text",
            "label": "Newsletter Title",
            "id": "newsletter_title",
            "default": "Subscribe to Our Newsletter"
        },
        {
            "type": "textarea",
            "label": "Newsletter Description",
            "id": "newsletter_description",
            "default": "Sign up to receive our latest updates and promotions."
        }
        ],
        "presets": [
        {
            "name": "newsletter",
            "category": "Custom"
        }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
