<product-grid> 
<head>
  <h1>PRODUCT GRID</h1>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<section class="parallax">
  <div class="parallax-inner">
    <img src="https://images.squarespace-cdn.com/content/v1/56c34abb8259b52c41717077/1455914155783-BIEX5ZDYCW3W3KTNHKYD/home-2015-07-31-leather-model-01-0092-v3-FINAL.jpg?format=2500w.jpg">


  </div>
</section>



<script>
  window.addEventListener('scroll', function() {
    const parallax = document.querySelector('.parallax');
    const scrolled = window.scrollY;
    parallax.style.transform = `translateY(${scrolled * 0.5}px)`;
  });


</script>
</product-grid>



{% schema %}
{
  "name": "product grid",
  "settings": [],
  "presets" : [{ "name" : "product grid" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
