<h1>PRODUCT GRID</h1>
{% schema %}
{
  "name": "product grid",
  "settings": [],
  "presets" : [{ "name" : "product grid" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
