<product-grid> 
<head>
  <h1>PRODUCT GRID</h1>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<section class="parallax">
  <div class="parallax-inner">
    {{ images['potions-header.png'] | image_url: width:300 | image_tag }}
  </div>
</section>



<script>
  window.addEventListener('scroll', function() {
    const parallax = document.querySelector('.parallax');
    const scrolled = window.scrollY;
    parallax.style.transform = `translateY(${scrolled * 0.5}px)`;
  });
</script>
</product-grid>



{% schema %}
{
  "name": "product grid",
  "settings": [],
  "presets" : [{ "name" : "product grid" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
