.about-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.square {
  position: absolute;
  width: 45%;
  height: 60%;
  top: 20%;
  left: 0px;
  background-color: var(--light-gray);
}
.about-content {
  padding: 0px 0px 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}
.about-image {
    width: 50%;
    height: fit-content;
    flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-image img {
  height: 720px;
  width: auto;
  margin: auto;
  z-index: 2;
}

.btn{
    margin-bottom: 33px;
    width: 137px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #E0DEDD;
}

  .btn span{
    color: #595959;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.25px;
  }

.about-text{
    width: 70%;
    position: relative;
    color: #595959;
    font-family: var(--global-font-lato);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.313px;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column-reverse;
    text-align: center;
    display: flex;
  }

  .about-image {
      margin: 0;
  }

  .about-content {
    margin: 4%;
  }

  .img1 {
      margin-left: 0;
      width: 100%;
      height: auto;
  }

  .btn {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }

  .about-text {
    margin: auto;
    color: #595959;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: 0.313px;
  }
}