.about-container {
    display: flex;
    align-items: center; 
}

.about-image {
    margin-left: 106.1px;
    width: 391.624px;
    height: 496px;
    flex-shrink: 0;
}

.btn{
    margin-left: 106.27px;
    margin-bottom: 33px;
    width: 137px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #E0DEDD;
}

  .btn span{
    color: #595959;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.25px;
  }

.about-text{
    width:426px;
    margin-left: 112.27px;
    margin-right: 91px;
    color: #595959;
    font-family: var(--global-font-lato);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.313px;
}