/* Initial styles for the card */
.contact-card {
    perspective: 1000px;
    position: relative;
}

/* Styles for the front of the card */
.card-front {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 25%;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

/* Styles for the back of the card */
.card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 25%;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

/* Flip effect on hover */
.contact-card:hover .card-front {
    transform: rotateY(180deg);
}

.contact-card:hover .card-back {
    transform: rotateY(0deg);
}

.contact {
  width: 80%;
  margin: 100px auto;
}
.contact-title {
    margin-top: 78.59px;
    color: #1A1A1A;
    font-family: var(--global-font-lato);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 1.333px;
}

.contact-paragraph {
    margin-top: 21.13px;
    color: #595959;
    font-family: var(--global-font-lato);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.313px;
    
}

.block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction : row;
}

.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  filter: drop-shadow(6px 7px 27px rgba(0, 0, 0, 0.04));
  width: 30%;
  margin: auto;
}
.contact-card {
  width: 100%;
  height: 320px;
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-front, .card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 10px;
    text-align: center;  
    width: 65%;
    height: 350px;
    border: 2px solid #9E9E9E;
    background: #FFF;
  margin: auto;
}

.card-icon{

}

.contact-box-title {
    margin-top: 30.12px;
    color: #464655;
    font-family: var(--global-font-lato);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.card-description{
    color: #595959;
    text-align: center;
    font-family: var(--global-font-lato);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.25px;
}

@media screen and (max-width: 480px) {
    .contact-title {
        margin-bottom: 4%;
        font-size: 24px; 
        line-height: 36px; 
    }

    .contact-paragraph {
        text-align: center;
        margin: auto;
        font-size: 18px;
        line-height: 28px; 
    }

    .box {
        margin-left: 20px; 
        margin-left: 20px; 
        position: relative;
        display: flex; 
        overflow: scroll; 
        scroll-snap-type: x mandatory; 
    
}
    .contact-box {
        width: 100%;
    }
  .block-container {
    display: none;
  }
  .card-front, .card-back {
    left: 17.5%;
  }

}