# footer {
  padding: 10px;
}

.footer-icons {
  display: flex;
  align-items: left; 
  justify-content: flex-end; 
}

.footer-icons > div {
  width: 10px;
  height: 10px;
}

.facebook-icon img,
.twitter-icon img,
.instagram-icon img {
  max-width: 10%;
  max-height: 10%;
}