#footer {
  padding: 40px 100px 40px 100px;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
}

.footer-icons .facebook-icon {
  margin: 0px -15px 0px 0px;
  transform: scale(0.3);  
}

.footer-icons .twitter-icon {
  margin: 0px -15px 0px 0px;
  transform: scale(0.3); 
}

.footer-icons .instagram-icon {
  margin: 0px -15px 0px -15px;
  transform: scale(0.3); 
}

#footer #footer-navigation {
  text-align: center;
  font-family: "Proxima nova regular";
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-black);
}

#footer #footer-navigation .footer-menu-item {
    display: inline-block; 
    margin: 0 35px; 
}

#footer #footer-navigation .footer-menu-item:last-child {
    margin-right: 0;