#footer {
  padding: 40px 0px 0px 0px;
}

.under-footer {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 20px;
}

.list-payment {
  margin: 0px;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 5px;
}

.footer-icons .icon svg{
  width: 20px;
  height: 20px;
}

.footer-icons:hover + footer-navigation, footer-navigation:hover {
    transform: scaleY(1);
    transition: transform 0.2s ease;
    transform-origin: center top;
}

#footer-navigation {
  text-align: center;
  background: #f3f3f3;
  padding: 20px 75px ;
}

#footer #footer-navigation a{
  font-family: "Proxima nova regular";
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-black);
}

#footer #footer-navigation .footer-menu-item {
    display: inline-block; 
    margin: 0 35px; 
}

#footer #footer-navigation .footer-menu-item:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
  .footer-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
        padding: 0px;
  }
  #footer #footer-navigation .footer-menu-item {
    margin: auto auto;
  }
  #footer-navigation {
    padding: 20px 30px;
  }
  .footer-navigation .nav{
    margin: auto;
  }
}