.site-logo img{
  width: auto;
  height: 100%;
}

.left-drawer {
  position: fixed;
  top: 0;
  left: -100%; /* Initially hide the drawer */
  width: 500px; /* Adjust as needed */
  height: 100%;
  background-color: #fff;
  transition: left 0.3s;
  z-index: 1000; /* Ensure it's on top */
  overflow-y: auto;
  filter: drop-shadow(6px 7px 27px rgba(0, 0, 0, 0.4));
}

.left-drawer.open {
  left: 0; /* Show the drawer */
}

.close-drawer-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}

.left-drawer nav {
  margin-top: 150px;
}

.left-drawer nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.left-drawer nav a{
  color: #595959;
font-family: Montserrat;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 171.429% */
letter-spacing: 1.333px;
  text-decoration: none;
}

.announcement {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0px;
  background-color: var(--main-gray);
  color: black;
  text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all 0.3s ease;
    width: 100%;
    background: var(--main-white);
  height: fit-content;
    max-height: 150px;
}
header.shrink .site-logo{
  transform: scale(0.8);
  transition: all 0.3s ease;
  max-height: 100%;
  width: auto;
  transform-origin: center center;
}

header.shrink .main-header {
  max-height: 110px; /* adjust as needed */
  padding: 10px 100px; /* adjust as needed */
  transition: all 0.3s ease;
  transform-origin: center top;
}

header.shrink .nav-icon svg {
  transform: scale(0.7); /* adjust scaling as needed */
  transition: all 0.3s ease;
}
header.shrink .cart-btn svg {
  transform: scale(1); /* adjust scaling as needed */
  transition: all 0.3s ease;
}

.main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(100px - 40px);
  width: calc(100% - 200px);
  padding: 20px 100px 20px 100px;
}

.main-header:hover + nav, nav:hover {
  transform: scaleY(1);
  transition: transform 0.2s ease;
  transform-origin: center top;
}

.nav-icon{
  height: 100%;
  display: flex;
  align-items: center;
  transform-origin: center center;
} 
.nav-icon svg{
  height: 50%;
}

.nav-icon svg path{
  color: var(--second-gray);
}

header nav{
  position: absolute;
  top: 100%;
  background-color: var(--main-gray);
  transform: scaleY(0);
  width: 100%;
  z-index: 5;
}

header nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 50%;
  margin: auto;
  justify-content: space-between;
}
header nav li{
  padding: 20px 35px;
}

header nav li a{
  font-family: "Proxima nova regular";
    text-transform: uppercase;
  text-decoration: none;
  color: var(--main-black);
}

.cart-btn{
  border: none;
  background-color: #fff;
}

.responsive {
  display: none;
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
  .responsive {
    display: flex;
  }
  .nav-button {
    display: none;
  }
  .main-header {
    width: calc(100% - 40px);
    padding: 20px 20px;
  }

  header.shrink .main-header {
    padding: 10px 20px; /* adjust as needed */
  }
  .left-drawer {
    width: 80%;
  }
}