.main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(100px - 80px);
  width: calc(100% - 200px);
  padding: 40px 100px 40px 100px;
}
.nav-icon{
  height: 100%;
} 
.nav-icon svg{
  height: 100%;
}

.nav-icon svg path{
  color: var(--second-gray);
}

header nav{
  background-color: var(--main-gray);
}
header nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 50%;
  margin: auto;
  justify-content: space-between;
}
header nav li{
  padding: 20px 30px;
}

