header {
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .3s;
    width: 100%;
    background: var(--main-white);
}
header.shrink .main-header {
  height: 50px; /* adjust as needed */
  padding: 10px 100px; /* adjust as needed */
}

header.shrink .nav-icon svg {
  transform: scale(0.8); /* adjust scaling as needed */
}
.main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(100px - 80px);
  width: calc(100% - 200px);
  padding: 40px 100px 40px 100px;
}

.main-header:hover + nav, nav:hover {
  transform: scaleY(1);
  transition: transform 0.2s ease;
  transform-origin: center top;
}

.nav-icon{
  height: 100%;
} 
.nav-icon svg{
  height: 100%;
}

.nav-icon svg path{
  color: var(--second-gray);
}

header nav{
  position: absolute;
  top: 100%;
  background-color: var(--main-gray);
  transform: scaleY(0);
  width: 100%;
  z-index: 5;
}

header nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 50%;
  margin: auto;
  justify-content: space-between;
}
header nav li{
  padding: 20px 35px;
}

header nav li a{
  font-family: "Proxima nova regular";
    text-transform: uppercase;
  text-decoration: none;
  color: var(--main-black);
}

.cart-btn{
  border: none;
  background-color: snow;
}