.newsletter-section {
    width: 80%;
    margin: auto;
}

.title-newsletter {
    color: #1A1A1A;
    font-family: var(--global-font-lato);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 1.333px;
}

.content-newsletter{
    color: #595959;
    font-family: var(--global-font-lato);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.313px;
}

.newsletter-form{
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 80px;
}

.newsletter-form label {
color: #595959;
font-family: var(--global-font-lato);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.313px;
}

.newsletter-form input[type="email"] {
    width: 360px;
    flex-shrink: 0;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.15);
    
}

.button-sub{
    color: #595959;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.313px;
    border-radius: 16px;
}

.btn-sub{
    padding: 15px 30px 15px 30px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #c9c9c9;
}

.btn-sub, span{
    color: #595959;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; 
    letter-spacing: 0.25px;
}

@media screen and (max-width: 768px) {
    .newsletter-section  {
        margin-left: 25px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;

    }

    .title-newsletter {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin: auto;
    }

    .content-newsletter{
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin: auto;
    }

    .newsletter-form{
        max-width: 100%;
        margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .newsletter-form label{
        font-size: 16px;
        line-height: 24px;
    }

    .newsletter-form input[type="email"] {
        width: 260px;        
    }
}