.product {
  width: fit-content;
}
.product img{
  background: var(--light-gray);
  width: 310px;
  height: auto;
}
.product .product-footer {
  background: var(--light-gray);
  width: 310px;
}
.product-section {
  box-sizing: border-box;
  font-family: "proxima-nova";
}

.product-header {
  display: flex;
  justify-content: space-between;
}

.section-title {
  margin-left: 106.1px;
  color: #595959;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 171.429% */
  letter-spacing: 1.333px;
}

.slick-buttons {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 50px;
  margin-right: 91px;
}

.slick-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  z-index: 1;
}

.product-title {
  color: #000;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.price {
  color: #000;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.stilized-image {
  display: block;
  object-fit: cover;
  width: 85%;
  margin: 100px auto;
  object-position: 50% 70%;
}

.slick-carousel {
  margin-left: 106.1px;
}

.price-cart {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.add-to-cart-btn {
  background: transparent;
  border: none;
}
.add-to-cart-bag-btn {
  background: transparent;
  border: none;
}
