.product img {
  transition: transform 0.3s ease;
  display: block;
}

.product-image {
  overflow: hidden;
  width: 70%;
  height: auto;
  background: var(--light-gray);
  padding: 20px;
  margin: auto;
}

.product img:hover {
  transform: scale(1.1);
}

.product .product-footer:hover + .product-image img,
.product:hover .product-image img {
  transform: scale(1.1);
}

.product-grid {
  margin: 100px auto;
  width: 80%;
}
.price {
  font-family: Proxima nova regular !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  border-radius: 50px;
  border: 1px solid #9E9E9E;
  height: 2em;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product-title {
  font-family: Proxima nova medium !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px 0px 10px 0px;
}

.product-collection {
  color: var(--gray);
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.product {
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
}
.product img{
  background: transparent;
  width: 100%;
  height: auto;
  margin: auto;
  object-fit: cover;
  object-position: center center;
}
.product .product-footer {
  padding: 20px 20px 20px 0px;
  background: var(--main-white);
  width: calc(70% + 20px);
}
.product-section {
  box-sizing: border-box;
  font-family: "proxima-nova";
}

.product-header {
  display: flex;
  justify-content: space-between;
}

.section-title {
  color: #595959;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 171.429% */
  letter-spacing: 1.333px;
  margin-bottom: 50px;
}

.slick-buttons {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 50px;
  margin-right: 91px;
}

.slick-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  z-index: 1;
}

.price {
  color: #000;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin: 5px 0px;
}

.stilized-image {
  display: block;
  object-fit: cover;
  width: 85%;
  margin: 100px auto;
  object-position: 50% 70%;
}

.price-cart {
  display: flex;
  justify-content: space-between;
}

.cart-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.qty-input {
  border-radius: 50px;
  border: 1px solid var(--gray);
  height: fit-content;
}

.add-to-cart-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.add-to-cart-bag-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.qty-input {
	color: var(--gray);
	background: transparent;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.qty-input .product-qty,
.qty-input .qty-count {
	background: transparent;
	color: inherit;
	font-size: inherit;
	border: none;
	display: inline-block;
	min-width: 0;
	height: 2rem;
	line-height: 1;
}

.qty-input .product-qty:focus,
.qty-input .qty-count:focus {
	outline: none;
}

.qty-input .product-qty {
	width: 30px;
	min-width: 0;
	display: inline-block;
	text-align: center;
	appearance: textfield;
}

.qty-input .product-qty::-webkit-outer-spin-button,
.qty-input .product-qty::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.qty-input .qty-count {
	padding: 0;
	cursor: pointer;
	width: 1.5rem;
    height: 1.5rem;
	font-size: 1em;
	text-indent: -100px;
	overflow: hidden;
	position: relative;
}

.qty-input .qty-count:before,
.qty-input .qty-count:after {
	content: "";
	height: 1px;
	width: 10px;
	position: absolute;
	display: block;
	background: var(--gray);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.qty-input .qty-count--minus {
	border-right: 1px solid var(--gray);
}

.qty-input .qty-count--add {
	border-left: 1px solid var(--gray);
}

.qty-input .qty-count--add:after {
	transform: rotate(90deg);
}

.qty-input .qty-count:disabled {
	color: #ccc;
	background: transparent;
	cursor: not-allowed;
	border-color: transparent;
}

.qty-input .qty-count:disabled:before,
.qty-input .qty-count:disabled:after {
	background: #ccc;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 32px;
  }
  .slick-buttons{
    display: none;
  }
  .product-header {
    justify-content: center;
  }
  .slick-next-arrow{
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 2;
  }
  .slick-prev-arrow{
    position: absolute;
    top: 50%;
    left: 0px;
    z-index: 2;
  }
  .stilized-image {
    margin: 30px auto;
  }
}
